<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:label="Blent Profiling" tools:replace="android:label">
        <profileable android:shell="true" />
        <activity android:name=".MainActivity">
            <intent-filter tools:node="removeAll" />
        </activity>
        <activity android:name=".AllocationProfileActivity" android:exported="true"
            android:permission="android.permission.DUMP" android:excludeFromRecents="true" />
        <activity android:name=".CameraChunkProfileActivity" android:exported="true"
            android:permission="android.permission.DUMP" android:excludeFromRecents="true" />
    </application>
</manifest>
